<h1>Counter</h1>

<p>This is a simple example of an Angular component.</p>

<p aria-live="polite">Current count: <strong>{{ currentCount }}</strong></p>

<button class="btn btn-primary" (click)="incrementCounter()">Increment</button>
<br />



<div *ngFor="let image of images; let i = index" (mouseenter)="onMouseOver(i)" (mouseleave)="onMouseOut(i)">
  <img [src]="image.isHovering ? image.hoverUrl : image.defaultUrl" alt="Image test">
</div>
<app-children [motparent1]="motparent1" [motparent2]="motparent2" [motparent3]="motparent3"></app-children>

<!--<input type="text" [(ngModel)]="mot" />-->
